<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
<link rel="stylesheet" type="text/css" href="vendor.css">
<base href="/">
</head>
<body>
  <app><span class="loading ac">Loading...</span></app>
</body>
</html>